<table>
    <tr>
        <td> craft </td>
        <td> name </td>
    </tr>
    {% for cosmonaut in cosmonauts %}
        <tr>
            <td>{{ cosmonaut.craft }}</td>
            <td>{{ cosmonaut.name }}</td>
        </tr>
    {% endfor %}
</table>